# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=
VITE_APPSHEET_APP_ID=Planejamento-Motorista2026-657844747-26-02-04
VITE_APPSHEET_ACCESS_KEY=
VITE_APPSHEET_TABLE_NAME=Despesas
# Gemini API Key (Managed automatically in AI Studio Build)
GEMINI_API_KEY=
# Google Analytics
VITE_GA_ID=G-H0GPB9JDNC
